
.product{
    font-weight: bold;
    margin-left: 100px;
    float: left;
    color: aliceblue;
    margin-top: 30px;
}
.explain{
    margin-left: 300px;
    float:left;
    font-weight: bold;
    color: aliceblue;
    margin-top: 30px;
}
.connect{
    margin-left: 300px;
    float: left;
    font-weight: bold;
    color: aliceblue;
    margin-top: 30px;
}
.last{
    background-color: black;
    height: 500px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}