  .indo{
     background-color: rgba(128, 128, 128, 0.178);
     color: black; 
     border: none;
     padding: 10px;
     border-radius: 12px;
     font-size: 16px;
     cursor: pointer;  
    }
    .jaka{
        background-color: rgba(128, 128, 128, 0.178);
     color: black; 
     border: none;
     padding: 10px;
     border-radius: 12px;
     font-size: 16px; 
     margin-left: 15px;      
     cursor: pointer;  
    }
    .things{
        background-color: rgba(128, 128, 128, 0.178);
     color: black; 
     border: none;
     padding: 10px;
     border-radius: 12px;
     font-size: 16px; 
     cursor: pointer;  
 
    }
    .semi{
        background-color: rgba(128, 128, 128, 0.178);
     color: black; 
     border: none;
     padding: 10px;
     border-radius: 12px;
     font-size: 16px;
     margin-left: 15px; 
     cursor: pointer;  
 
    }
    .f{
        background-color:darkblue ;
        color: azure;
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 20px;
        margin: 5px;
        font-weight: bold;
    }
    .x{
        background-color: black;
        color: azure;
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 20px;
        margin: 5px;
        font-weight: bold;

    }
    .li{
        background-color: rgb(0, 187, 255);
        color: azure;
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 20px;
        margin: 5px;
        font-weight: bold;
    }
    .container-two{
        float: left;
        margin-left: 300px;
    }
    .para{
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .description{
        float: left;
        width: 500px;
        margin-left: 200px;
    }
    .l{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
